body{
  margin:0;
  background-color: black;
}

#contact-me-div{
  border:1px solid white;
height: 100%;
width: 100%;
background-image: url('../Pictures/mostafa-meraji-cyEpUehK1cs-unsplash.jpg');
background-size: cover;
}
#contact-me-div2{
   border: 1px solid white;
   height: 130%;
   width: 100%;
}

#imgstyle{
  width:70%;
  height: 70%;
  margin-top: 8%;
  margin-left: 14%;

}

#space{
  border: 1px solid white;
  width: 100%;
  height: 100%;
}
#blank-space{
  border: 1px solid white;
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
}
#emri{
  border: 1px solid white;
  width:50%;
  height: 10%;
  float:left;
  margin-top:10%;
  margin-left:10%;
  color: white;
}

#koment-space{
  border:1px solid white;
  width: 60%;
  height: 40%;
  float: left;
  display :inline;
  margin-top:5%;
  margin-left: 10%;
}

#form-div{
  border:1px solid white;
  width: 50%;
  height: 100%;
  float: right;
 display: inline;
}

#muzik-space{
  border: 1px solid white;
  width: 50%;
  height: 20%;
  float: left;
  display: inline;
  margin-top: 2%;
  margin-left: 10%;
}
#contactis{
  margin-left: 40%;
  margin-top: 5%;
  font-family: 'Special Elite', cursive;
}


#contactis-1{
  font-family: 'Oswald', sans-serif;
  margin-left: 10%;
}